@{
    ViewData["Title"] = "Каталог продукции";
}

<div>
    <h1 class="display-4">Категории</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <td> Ид </td>
                    <td> Категория </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Categories)
                {
                <tr>
                    <td> @item.Id </td>
                    <td> @item.CategoryName </td>
                    <td><p><a href="/Category/Edit/@item.Id">Edit</a></p></td>
                    <td><p><a href="/Category/Delete/@item.Id">Delete</a></p></td>

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>