@{
    ViewData["Title"] = "Каталог продукции";
}

<div>
    <h1 class="display-4">Категории</h1>
    @Html.ActionLink("Create new", "Create")
    <div>
        <table class="table">
            <thead>
                <tr>
                    <td> Ид </td>
                    <td> Категория </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Categories)
                {
                    <tr>
                        <td> @item.Id </td>
                        <td> @item.CategoryName </td>
                        <td>
                            <a href="/Category/Edit/@item.Id">Edit</a> |
                            <a href="/Category/Delete/@item.Id">Del</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>